<!DOCTYPE html>
<html lang="en">

<head>
  <title>Website with login a registration</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!--css -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />


  <!--font -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Josefin+Sans:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">

</head>

<body>
  <header>
    <h2 class='logo'></h2>
  </header>
</body>
