<!DOCTYPE html>
<html>
  <head>
    <title>PasswordKeepR</title>
  </head>
  <body>
    <h1>Password Manager</h1>
    <form action="/manager" method="post">
      <input type="text" name="siteName" placeholder="Site Name">
      <input type="text" name="siteURL" placeholder="Site URL">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <button type="submit">Add Password</button>
    </form>
  </body>
</html>
