<!DOCTYPE html>
<html lang="en">

<head>
  <title>INDEX</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!--css -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />


  <!--font -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Josefin+Sans:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">

</head>

<body>
  <div class="container">
    <h2>Password Generator</h2>
    <div class='input-box'>
      <label class="title">Password Length</label>
      <span>15</span>
      <input type="range" min='1' max='30' step='1' >
    </div>
    <div class="pass-settings">
      <label class="title">Password Settings</label>
      <ul class='options'>
        <li class='option'>
          <input type="checkbox" id='lowercase'>
          <label for="lowercase">Lowercase (a-z)</label>
        </li>
        <li class='option'>
          <input type="checkbox" id='uppercase'>
          <label for="uppercase">Uppercase (A-Z)</label>
        </li>
        <li class='option'>
          <input type="checkbox" id='numbers'>
          <label for="numbers">Numbers (0-9)</label>
        </li>
        <li class='option'>
          <input type="checkbox" id='symbols'>
          <label for="symbols">Symbols (a-z)</label>
        </li>
        <li class='option'>
          <input type="checkbox" id='exc-duplicate'>
          <label for="exc-duplicate">Exclude Duplicate</label>
        </li>
        <li class='option'>
          <input type="checkbox" id='spaces'>
          <label for="spaces">Include Spaces</label>
        </li>
      </ul>
    </div>
    <button class="generator-btn">Generate Password</button>
  </div>
</body>
</html>

