<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="/styles/register.css">
  <title>Registration Page</title>
</head>

<body>

<main style="margin: lem;">
  <div class="register">
    <h1>Register</h1>
    <form class="form-inline" action="/register" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username">
      <label for="email">Email:</label>
      <input type="email" name="email">
      <label for="password">Password:</label>
      <input type="password" name="password">
      <label for="organization">Organization:</label>
      <select id="organization" name="organization">
        <option value="" disabled selected>Select an organization from the drop down</option>
        <option value="lighthouseLabs">Lighthouse Labs</option>
        <option value="google">Google</option>
        <option value="facebook">Facebook</option>
        <option value="apple">Apple</option>
        <option value="microsoft">Microsoft</option>
        <option value="github">Github</option>
        <option value="linkedIn">LinkedIn</option>
      </select>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</main>
</body>

</html>

